.sentiment-score-container div {
    max-height: 220px !important;
    /* position: relative;
    width: 97% !important;
    top: 10px; */
}

.sentiment-score-container {
    margin: 2rem;
}

.filterContainer {
    background: #F7F7F9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3.86842px 23.2105px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-size: 12px;
    color: #94969c;
    height: 20px;
    margin: 3px;
    padding: 3px;
}